config.mk

*.o
*.d

tst/env
tst/init
tst/handle
tst/main

tst/*.ok
tst/main.ko

exp/example

man/jobserver_*.3

*~

v*.*.*
libjobserver.a
libjobserver.so
libjobserver-*.a
libjobserver-*.so

jobserver-*.tar.gz
