config.mk

make

*.o
*.d

src/config.h

tst/env
tst/init
tst/handle
tst/main

tst/*.ok
tst/main.stderr

tst/make

exp/example

man/jobserver_*.3

*~

v*.*.*
libjobserver.a
libjobserver.so
libjobserver-*.a
libjobserver-*.so

jobserver-*.tar.gz
