config.mk

*.o
*.d

src/config.h

tst/env
tst/init
tst/handle
tst/main

tst/*.ok

exp/example

man/jobserver_*.3

*~

v*.*.*
libjobserver.a
libjobserver.so
libjobserver-*.a
libjobserver-*.so
libjobserver-*.tar.gz
